azure-storage-blob
arrow
beautifulsoup4>=4.7.1
cfscrape
datetime
fake-useragent
html5lib
iso8601
pendulum
pycodestyle
pyflakes
pyodbc
pytest
pytest-benchmark
pytest-cov
pyyaml
regex
scrapy
selenium
sqlalchemy
termcolor
twisted
warcio
